* {
    padding: auto;
    border: auto;
    margin: 5px;
    font-family: monospace;
}

body{
    background-color: beige;
}

div.tabuleiro{
    grid-template-rows: 32px 32px 32px 32px 32px;
    grid-template-columns: 32px 32px 32px 32px 32px;
    align-self: center;
    display: grid;
    justify-self: center;
    justify-content: center;
    border: 1px, black, solid;
}

div.tabuleiro div{
    font-size: 20px;
    color: purple;
    margin: auto;
    border: 1px, gray, solid;
}
