* {
    padding: 0;
    margin: 0;
    border: 5px, grey, solid;
    font-family: monospace;
}

html{
    background-color: black;
    color:aliceblue;
}

canvas{
    background-color: wheat;
    width: 80vw;
    height: 80vh;
    
}
