* {
    padding: 0;
    margin: 0;
    border: 5px, grey, solid;
    font-family: monospace;
}

html{
    background-color: black;
    color:aliceblue;
}

canvas{
    width: 100vw;
    height: 100vh;
    
}