* {
    padding: 0px;
    margin: 0;
    border: 2px, grey, solid;
    font-family: monospace;
}

html{
    background-color: black;
    color:aliceblue;
}

main {
    padding: 2em;
    display: flex;
    justify-self: center;
    overflow:scroll;
}

#jogo{
    background-color: midnightblue;
    width: fit-content;
    height: fit-content;
    
}
