* {
    padding: 0;
    margin: 0;
    border: 2px, grey, solid;
    font-family: monospace;
}

html{
    background-color: var(--background);
    color-scheme: dark light;
}

[data-theme = "darkween"] {
    color-scheme : dark;
    --text       : #DB9D47;
    --background : #3A3042;
    --primary    : #EDFFD9;
    --secondary  : #FF784F;
    --accent     : #FFE19C;
}

[data-theme = "madruga"] {
    color-scheme : dark;
    --text       : #E0E4FC;
    --background : #040722;
    --primary    : #798AF1;
    --secondary  : #44109F;
    --accent     : #AA35EA;
}

[data-theme = "lightween"] {
    color-scheme : light;
    --text       : #1F1402;
    --background : #FEF8F0;
    --primary    : #F1A820;
    --secondary  : #71F5F6;
    --accent     : #476BF4;
}

[data-theme = "swomp"] {
    color-scheme : light;
    --text       : #041A1B;
    --background : #E0E4FC;
    --primary    : #20DBE1;
    --secondary  : #AE81EE;
    --accent     : #D460E9;
} 

body{
    color: var(--text);
}

.row-container {
    
    display: flex;
    flex-direction: column;
}

.header {
    border: var(--accent);
    
}


main {
    grid-area: main;
    display: flex;
    justify-content: center;
    width: vw;
    border: 2px, var(--accent), solid;
    margin: 20px;
}


canvas {
    display: block;
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
    background: var(--primary);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.game {
    width: auto;
    border: 10px, var(--accent), solid;
}

.controles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;

    border: 2px, #040722, solid;
    width: 36%;
    height: auto;
    
    background: linear-gradient(0deg,var(--primary));
    border-radius: 15px;
    margin-left: 20px;
}

.controles-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position:static;
    overflow: hidden;
    
}

.controles {
    background: var(--secondary);
    
    border: 2px,var(--primary), solid;
    border-radius: 14px;
    
    margin: 2px;

    width: 64px;
    height: 64px;
    
    cursor: pointer;

}

.controles-container #menu {
    margin-top: 50px;
    justify-content: space-between;
}

#up {
    background-image: url('./assets/up_arrow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#down {
    background-image: url('./assets/up_arrow.png');
    background-position: center;
    background-size: contain;
    transform-origin: center;
    transform: rotate(180deg);
    background-repeat: no-repeat;
}

#right {
    background-image: url('./assets/up_arrow.png');
    background-position: center;
    background-size: contain;
    transform-origin: center;
    transform: rotate(90deg);
    background-repeat: no-repeat;
}

#left {
    background-image: url('./assets/up_arrow.png');
    background-position: center;
    background-size: contain;
    transform-origin: center;
    transform: rotate(-90deg);
    background-repeat: no-repeat;
}


/* definir layout diferente pra telas menores 
*/
@media only screen and (max-width: 650px) {
    body{
        margin: 5px;
    }
    canvas{
        aspect-ratio: 3/4;
        width: vw;
    }
    
    .container {
        display: flex;
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }
    .controles-container{
        width: auto;
        margin-left: 0;
        margin-top: 20px;
    }
} 
